<mat-toolbar class="c-y">

    <span class="c-p">University Student's List</span>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" (click)="navigateToHistory()">
        <mat-icon class="c-p">history</mat-icon>
    </button>

    <button *ngIf="!Shttp.desable" mat-icon-button class="example-icon favorite-icon" (click)="openDialog()">
        <mat-icon class="c-p">add</mat-icon>
    </button>
    <button *ngIf="Shttp.desable" mat-icon-button class="example-icon favorite-icon" disabled>
        <mat-icon class="c-p">add</mat-icon>
    </button>


</mat-toolbar>